#logo{
    border-radius:50%;
    width: 75px;
    height:75px;
}
#nav-bar{
    margin-left:200px;
    margin-top:-50px;
}
#nav-bar a {
    margin-right: 20px; /* Adjust spacing as needed */
}
#nav-bar a:last-child {
    margin-right: 0; /* Removes extra space on the last item */
}
